{% extends "layout.html.twig" %}
{% block contenu %}

    <form method="post" action="{{ path('player.validFormAddPlayerNonInscrit') }}" >
        <div class="row">
            <fieldset>
                <legend>S'inscrire</legend>
                <label>Username/Login :
                    <input name="username"  type="text"  size="18" value="{{donnees.username|default('')}}" />
                    {% if erreurs.username is defined %}
                        <small class="error">{{erreurs.username}}</small>
                    {% endif %}
                </label>
                <label>Mot de passe :
                    <input name="motdepasse"  type="text"  size="18" value="{{donnees.motdepasse|default('')}}" />
                    {% if erreurs.motdepasse is defined %}
                        <small class="error">{{erreurs.motdepasse}}</small>
                    {% endif %}
                </label>
                <label>Nom du client :
                    <input name="nom"  type="text"  size="18" value="{{donnees.nom|default('')}}"/>
                    {% if erreurs.nom is defined %}
                        <small class="error">{{erreurs.nom}}</small>
                    {% endif %}
                </label>
                <label>Code postal de la ville du client :
                    <input name="code_postal"  type="text"  size="18" value="{{donnees.code_postal|default('')}}"/>
                    {% if erreurs.code_postal is defined %}
                        <small class="error">{{erreurs.code_postal}}</small>
                    {% endif %}
                </label>
                <label>Ville du client :
                    <input name="ville"  type="text"  size="18" value="{{donnees.ville|default('')}}"/>
                    {% if erreurs.ville is defined %}
                        <small class="error">{{erreurs.ville}}</small>
                    {% endif %}
                </label>
                <label>Adresse du client :
                    <input name="adresse"  type="text"  size="18" value="{{donnees.adresse|default('')}}"/>
                    {% if erreurs.adresse is defined %}
                        <small class="error">{{erreurs.adresse}}</small>
                    {% endif %}
                </label>

                <img src="{{ image }}" name="image" value="" /><br>

                <label>Saisir captcha :
                    <input type="text" name="maPhrase">
                    {% if erreurs.phrase is defined %}
                        <small class="error">{{erreurs.phrase}}</small>
                    {% endif %}
                </label>
                <p>{{ phrase }}</p>
                <input type="submit" name="ajouterPlayer" value="Ajouter un joueur" />
            </fieldset>
        </div>
    </form>
{% endblock %}